<div style="height: 100%;">
  <mat-toolbar>
    <button mat-icon-button class="toolbar-icon" (click)="showSideNav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Kasse</span>
  </mat-toolbar>
  
  <div style="margin: 5px;">
    <table style="width: 100%;">
      <tr style="font-size: larger; font-weight: bold;">
        <td colspan="3">
          Gesamt
          <button mat-icon-button (click)="dataService.DownloadOrders()">
            <mat-icon>download</mat-icon>
          </button>
        </td>
        <td style="text-align: right;">{{ Total | currency:'EUR'}}</td>
      </tr>
      <tr>
        <td colspan="4"><hr></td>
      </tr>
      <ng-container *ngFor="let day of OrderSummary">
        <tr><td style="height: 20px;"></td></tr>
        <tr style="font-size: large;">
          <td colspan="3">{{day.Date | date:'dd. MMM yyyy'}}</td>
          <td style="text-align: right;">{{day.Total | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td colspan="4"><hr></td>
        </tr>
        <tr *ngFor="let order of day.Orders">
          <td style="width: 50px;">
            <button mat-icon-button (click)="DeleteOrder(order)">
              <mat-icon>delete</mat-icon>
            </button>      
          </td>
          <td style="width: 100px;">{{order.Date | date:'HH:mm:ss'}}</td>
          <td>
            <ul style="margin: 5px; padding-left: 15px;">
              <li *ngFor="let item of order.Items">
                {{item.Quanity}}x
                <ng-container *ngIf="item.Product">{{item.Product.Name}}</ng-container>
                <ng-container *ngIf="item.Discount">{{item.Discount.Name}}, {{item.Discount.Percent}} %</ng-container>
              </li>
            </ul>
          </td>
          <td style="text-align: right;">{{order.Total | currency:'EUR'}}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>