<div style="height: 100%;">
  <mat-drawer-container style="height: 100%;" autosize>
    <mat-drawer #drawer style="height: 100%;" mode="over">
      <mat-selection-list #shoes [multiple]="false" (selectionChange)="Page = $event.option.value; drawer.toggle();">
        <mat-list-option *ngFor="let page of GetPages()" [value]="page">
          {{GetPageName(page)}}
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <app-sale *ngIf="Page == 1" style="height: 100%;" (showSideNav)="drawer.toggle()"></app-sale>
      <app-products *ngIf="Page == 2" style="height: 100%;" (showSideNav)="drawer.toggle()"></app-products>
    </div>
  </mat-drawer-container>
</div>