<div style="height: 100%;">
  <mat-drawer-container style="height: 100%;" autosize>
    <mat-drawer #drawer style="height: 100%;" mode="over">
      <mat-selection-list [multiple]="false" (selectionChange)="Page = $event.option.value; drawer.toggle();">
        <mat-list-option *ngFor="let page of GetPages()" [value]="page">
          <span style="font-size: x-large;">{{GetPageName(page)}}</span>
        </mat-list-option>
      </mat-selection-list>
      <footer>
        <mat-list>
          <mat-list-item (click)="dataService.DefaultConfig(); drawer.toggle();">
            <span style="font-size: x-large;">Default</span>
          </mat-list-item>
          <input hidden type="file" accept=".json" #configUploader (change)="dataService.Import($event)"/>
          <mat-list-item (click)="configUploader.click(); drawer.toggle();">
            <span style="font-size: x-large;">Import</span>
          </mat-list-item>
          <mat-list-item (click)="dataService.Export(); drawer.toggle();">
            <span style="font-size: x-large;">Export</span>
          </mat-list-item>
        </mat-list>
      </footer>
    </mat-drawer>
  
    <div style="height: 100%;">
      <app-sale *ngIf="Page == 1" style="height: 100%;" (showSideNav)="drawer.toggle()"></app-sale>
      <app-receipts *ngIf="Page == 2" style="height: 100%;" (showSideNav)="drawer.toggle()"></app-receipts>
      <app-products *ngIf="Page == 3" style="height: 100%;" (showSideNav)="drawer.toggle()"></app-products>
    </div>
  </mat-drawer-container>
</div>