<div style="height: 100%;">
  <mat-toolbar>
    <button mat-icon-button class="toolbar-icon" (click)="showSideNav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Kasse</span>
  </mat-toolbar>
  
  <div class="row">
    <div class="column1" style="max-height: 500px; overflow: auto;  border-right: 1px solid gray;">
      <mat-list cdkDropList (cdkDropListDropped)="drop($event, dataService.Categories)" class="prop-list reorder-list">
        <div mat-subheader>Kategorien <button mat-icon-button (click)="AddCategory()" matTooltip="Hinzufügen" matTooltipShowDelay="1000" style="margin-left: 15px;"><mat-icon>add</mat-icon></button></div>
        <mat-list-item *ngFor="let cat of dataService.Categories" (click)="selectedItem = cat" cdkDrag
        [class.highlight-dark]="selectedItem === cat" matTooltip="{{cat.Name}}" matTooltipShowDelay="1000">
          <mat-icon mat-list-icon cdkDragHandle>chevron_right</mat-icon>
          <div mat-line>{{cat.Name}}</div>
          <button mat-icon-button style="margin-left: auto;" (click)="DeleteCategory(cat)" matTooltip="Löschen" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>

      <mat-list cdkDropList (cdkDropListDropped)="drop($event, dataService.Products)" class="prop-list reorder-list" style="margin-top: 20px;">
        <div mat-subheader>Produkte <button mat-icon-button (click)="AddProduct()" matTooltip="Hinzufügen" matTooltipShowDelay="1000" style="margin-left: 15px;"><mat-icon>add</mat-icon></button></div>
        <mat-list-item *ngFor="let product of dataService.Products" (click)="selectedItem = product" cdkDrag
        [class.highlight-dark]="selectedItem === product" matTooltip="{{product.Name}}" matTooltipShowDelay="1000">
          <mat-icon mat-list-icon cdkDragHandle>chevron_right</mat-icon>
          <div mat-line>{{product.Name}}</div>
          <div mat-line>{{product.Price | currency:'EUR'}}</div>
          <button mat-icon-button style="margin-left: auto;" (click)="DeleteProduct(product)" matTooltip="Löschen" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>

      <mat-list cdkDropList (cdkDropListDropped)="drop($event, dataService.Discounts)" class="prop-list reorder-list" style="margin-top: 20px;">
        <div mat-subheader>Rabatte <button mat-icon-button (click)="AddDiscount()" matTooltip="Hinzufügen" matTooltipShowDelay="1000" style="margin-left: 15px;"><mat-icon>add</mat-icon></button></div>
        <mat-list-item *ngFor="let discount of dataService.Discounts" (click)="selectedItem = discount" cdkDrag
        [class.highlight-dark]="selectedItem === discount" matTooltip="{{discount.Name}}" matTooltipShowDelay="1000">
          <mat-icon mat-list-icon cdkDragHandle>chevron_right</mat-icon>
          <div mat-line>{{discount.Name}}</div>
          <div mat-line>{{discount.Percent | number}} %</div>
          <button mat-icon-button style="margin-left: auto;" (click)="DeleteDiscount(discount)" matTooltip="Löschen" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <div *ngIf="selectedItem" style="margin: 10px;">
        <mat-form-field appearance="fill" style="width: 300px;">
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="selectedItem.Name">
          <button *ngIf="selectedItem.Name" matSuffix mat-icon-button (click)="selectedItem.Name=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <ng-container *ngIf="dataService.IsProduct(selectedItem)">
          <mat-form-field appearance="fill" style="width: 100px;">
            <mat-label>Preis</mat-label>
            <input matInput type="number" style="text-align: right;" [(ngModel)]="selectedItem.Price">
            <span matSuffix>€</span>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>Kategorien</mat-label>
            <mat-select multiple [(ngModel)]="selectedItem.CategoryIDs">
              <mat-option *ngFor="let cat of dataService.Categories" [value]="cat.ID">{{cat.Name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>Trigger</mat-label>
            <mat-select [(ngModel)]="selectedItem.Trigger">
              <mat-option>Keine</mat-option>
              <mat-option *ngFor="let prod of GetPossibleTriggers(selectedItem)" [value]="prod.Name">{{prod.Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="dataService.IsDiscount(selectedItem)">
          <mat-form-field appearance="fill" style="width: 100px;">
            <mat-label>Rabatt</mat-label>
            <input matInput type="number" style="text-align: right;" [ngModel]="selectedItem.Percent" (ngModelChange)="SetDiscount($event)">
            <span matSuffix>%</span>
          </mat-form-field>
        </ng-container>
      </div>
    </div>
  </div>
</div>