<div class="row" style="height: 100%;">
  <div class="column1">
    <mat-toolbar>
      <button mat-icon-button class="toolbar-icon" (click)="showSideNav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <!--
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="toolbar-icon favorite-icon" >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="toolbar-icon">
        <mat-icon>share</mat-icon>
      </button>
    -->
    </mat-toolbar>
    <footer>
      test
    </footer>
  </div>
  <div class="columnM" style="background-color: gray; height: 100%;">
  
  </div>
  <div class="column2">
    <mat-toolbar>
      <span>Basket</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="toolbar-icon" (click)="Basket = []">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>
    <div style="margin: 5px;">
      <div>
        <table>
          <tr style="height: 50px;" *ngFor="let item of Basket">
            <td>
              <button mat-icon-button (click)="DeleteItem(item)">
                <mat-icon>delete</mat-icon>
              </button>        
            </td>
            <td style="min-width: 30px; text-align: center;">{{item.Quanity}}</td>
            <td style="width: 90%;">{{item.Name}}</td>
            <td>{{item.Total | number : '1.2-2'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <footer>
      <div style="margin: 5px;">
        <div style="font-size: larger; font-weight: bold;">
          <span>Total</span> <span style="float: right;">{{GetBasketTotal() | number : '1.2-2'}} €</span>
        </div>
        <div style="margin-top: 10px;">
          <button mat-raised-button style="padding: 5px; width: -webkit-fill-available;">Pay</button>
        </div>
      </div>
      <!--
      <div style="margin: 5px;">
        <div>
          items
        </div>
        <div class="total-container">
          <span>Total</span> <span style="float: right;">200.12 €</span>
        </div>
        <div class="pay-container">
          <button mat-raised-button style="width: 290px; padding: 5px;">Pay</button>
        </div>
      </div>
      -->
    </footer>
  </div>
</div>