.toolbar-spacer {
  flex: 1 1 auto;
}

.total-container {
  width: 100%;
  position: fixed;
  bottom: 50px;
}

.pay-container {
  width: 100%;
  position: fixed;
  bottom: 5px;
}

.item {
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}

.item-mobile {
  margin: 3px;
  border-radius: 10px;
  padding: 3px;
  hr {
    margin: 0px;
  }
}

::ng-deep .as-split-gutter {
  background-color: #424242 !important;
}