@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, 500, 100, 900);
$accent: mat.define-palette(mat.$purple-palette, 700);
$warn: mat.define-palette(mat.$red-palette);
$background-color: map_get($mat-gray, 100);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color));
$theme: map_merge($theme, (background: $background));

@include angular-material-theme($theme);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

.color-primary {
  color: mat-color($primary);
}

.background-color-primary {
  background-color: mat-color($primary);
}

.background-color-accent {
  background-color: mat-color($accent);
}

.darkMode {
  @include mat.all-component-colors($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
